/* html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; } */

body { 
    background-color: #e85252;
    color: #000000;
    text-align: center;
}

a,
h1,
body {
    line-height: 1.45;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

:focus { outline: 5px auto #fdf854; }

a {   
    text-decoration: none; 
    display: inline-block;
    padding: 1px 3px;
    box-sizing: border-box;
    background-color: #80f557;
    color: #e85252;
    box-shadow: 2px 2px #000000;
    margin: 0 auto;
    cursor: pointer;
}

a,
p {
    border: 2px solid #000000; 
}

p { 
    padding: 10px 0;
    font-size: 22.5px;
}

main {
    max-width: 700px;
    height: 75vh;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

h1 { 
    font-weight: normal;
}
